<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <package name="py.una.pol.web.tarea6.model"/>
  </typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="MANAGED"/>
      <dataSource type="JNDI">
        <property name="data_source" value="java:jboss/datasources/Tarea3DS"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper class="py.una.pol.web.tarea6.mapper.CustomerMapper"/>
    <mapper class="py.una.pol.web.tarea6.mapper.DuplicateItemMapper"/>
    <mapper resource="mybatis/mappers/ItemMapper.xml"/>
    <mapper class="py.una.pol.web.tarea6.mapper.OrderMapper"/>
    <mapper class="py.una.pol.web.tarea6.mapper.PaymentMapper"/>
    <mapper class="py.una.pol.web.tarea6.mapper.ProviderMapper"/>
    <mapper class="py.una.pol.web.tarea6.mapper.SaleMapper"/>
    <mapper resource="mybatis/mappers/SaleOrderMapper.xml"/>
  </mappers>
</configuration>
